/* Minimal global styles */
:root{
  --green:#38a169;
  --green-dark:#2f855a;
  --blue:#3182ce;
  --bg1:#d4f0e7;
  --bg2:#ffffff;
}

*{box-sizing:border-box}
html,body,#root{
  height:100%;
  margin:0;
  padding:0;
  background: linear-gradient(to bottom, var(--bg1), var(--bg2));
  font-family: 'Poppins', Arial, sans-serif;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  color:#1a202c;
}
button{font-family:inherit}
